## Import Dependencies

In [173]:
# Import Dependencies
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
# In the same folder/directory, Create a config.py file that contains postgrespwd = '<your postgres password>'
from config import postgrespwd

## Database Connection

In [174]:
# Connecting to Database
# Run "pip install psycopg2-binary" in mlenv (for mac users)
db_string = f"postgres://postgres:{postgrespwd}@localhost:5432/FakeNewsDetector"
engine = create_engine(db_string)

## Data Staging

In [175]:
# Read in the csv data
fake_df = pd.read_csv('resources/Fake.csv')
true_df = pd.read_csv('resources/True.csv')

In [176]:
# Save Raw Data into PostgreSQL
engine.connect().execute("TRUNCATE TABLE fakenews CASCADE")
engine.connect().execute("TRUNCATE TABLE truenews CASCADE")
fake_df.to_sql('fakenews', engine, if_exists='append', index=False)
true_df.to_sql('truenews', engine, if_exists='append', index=False)

## Data Transformation

### Clean Fake DF

In [177]:
# Read FakeNews Data from Database
fake_df = pd.read_sql('fakenews',con=engine)

In [178]:
# Headshot
fake_df.head()

,fakeid,title,text,subject,date
0,1,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,2,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,3,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,4,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,5,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [179]:
# Check for null records
fake_df.count()

fakeid     23481
title      23481
text       23481
subject    23481
date       23481
dtype: int64

In [180]:
# Delete articles with blank(" ") Text
fake_df = fake_df.loc[fake_df["text"] != " "]
fake_df.shape

(22855, 5)

In [181]:
# Number of records under each Subject
fake_df['subject'].value_counts()

News               9050
politics           6435
left-news          4310
Government News    1499
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [182]:
# Number of unique values in each column
fake_df.nunique()

fakeid     22855
title      17459
text       17454
subject        6
date        1681
dtype: int64

In [183]:
# Drop duplicate records
fake_df = fake_df.drop_duplicates(['text'],keep= 'last')
fake_df.nunique()

fakeid     17454
title      17449
text       17454
subject        6
date        1681
dtype: int64

In [184]:
# Number of records under each Subject
fake_df['subject'].value_counts()

News               9050
left-news          4265
politics           2419
Government News     937
Middle-east         742
US_News              41
Name: subject, dtype: int64

In [185]:
# Titles under Subject = 'News'
fake_df[fake_df['subject'] == 'News']['title']

0        Donald Trump Sends Out Embarrassing New Year’...
1        Drunk Bragging Trump Staffer Started Russian ...
2        Sheriff David Clarke Becomes An Internet Joke...
3        Trump Is So Obsessed He Even Has Obama’s Name...
4        Pope Francis Just Called Out Donald Trump Dur...
                              ...
9646     Judge Serves A Crushing Blow To The Florida G...
9647     Bill Cosby Thanks ‘Friends And Fans’ In New Y...
9648     Obama Announces ‘Unfinished Business’ For 201...
9649     Damning New Evidence Shows How Israel Bribed ...
9650     Ben Carson Campaign In Shambles After Top Aid...
Name: title, Length: 9050, dtype: object

In [186]:
# Rename Subjects as 'US News' and 'World News'
fake_df['subject'] = fake_df['subject'].replace(['News','politics','left-news','Government News','US_News'],'US News')
fake_df['subject'] = fake_df['subject'].replace(['Middle-east'],'World News')
fake_df['subject'].value_counts()

US News       16712
World News      742
Name: subject, dtype: int64

In [187]:
# Drop the date column
fake_df = fake_df.drop(columns='date')
fake_df.columns

Index(['fakeid', 'title', 'text', 'subject'], dtype='object')

In [188]:
# Add label column and set value as 1
fake_df['label'] = 1
fake_df.columns

Index(['fakeid', 'title', 'text', 'subject', 'label'], dtype='object')

In [189]:
# Overview of transformed fake articles dataframe
fake_df.head()

,fakeid,title,text,subject,label
0,1,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,US News,1
1,2,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,US News,1
2,3,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",US News,1
3,4,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",US News,1
4,5,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,US News,1

### Clean True DF

In [190]:
# Read TrueNews Data from Database
true_df = pd.read_sql('truenews',con=engine)

In [191]:
# Check for null records
true_df.count()

trueid     21417
title      21417
text       21417
subject    21417
date       21417
dtype: int64

In [192]:
# Delete articles with blank(" ") Text
true_df = true_df.loc[true_df["text"] != " "]
true_df = true_df.loc[true_df["text"] != ""]
true_df.shape

(21416, 5)

In [193]:
# Number of unique values in each column
true_df.nunique()

trueid     21416
title      20825
text       21191
subject        2
date         716
dtype: int64

In [194]:
# Drop duplicate records
true_df = true_df.drop_duplicates(['text'],keep= 'last')
true_df.nunique()

trueid     21191
title      20820
text       21191
subject        2
date         716
dtype: int64

In [195]:
# Number of records under each Subject
true_df['subject'].value_counts()

politicsNews    11202
worldnews        9989
Name: subject, dtype: int64

In [196]:
# Rename Subjects as 'US News' and 'World News'
true_df['subject'] = true_df['subject'].replace(['politicsNews'],'US News')
true_df['subject'] = true_df['subject'].replace(['worldnews'],'World News')
true_df['subject'].value_counts()

US News       11202
World News     9989
Name: subject, dtype: int64

In [197]:
# Drop the date column
true_df = true_df.drop(columns='date')
true_df.columns

Index(['trueid', 'title', 'text', 'subject'], dtype='object')

In [198]:
# Add label column and set value as 0
true_df['label'] = 0
true_df.columns

Index(['trueid', 'title', 'text', 'subject', 'label'], dtype='object')

### Merge the Dataframes

In [199]:
dataframes = [fake_df, true_df]
articles_df = pd.concat(dataframes)
articles_df.count()

fakeid     17454
title      38645
text       38645
subject    38645
label      38645
trueid     21191
dtype: int64

### Export the Articles Dataframe to Database

In [200]:
engine.connect().execute("TRUNCATE TABLE articles")
articles_df.to_sql('articles', engine, if_exists='append',index=False)

## Natural Language Processing

In [201]:
# NLP Code goes here. Use the articles_df as your input.

In [202]:
# Export NLP Output to Postgres
# nlp_output_df.to_sql('<table>', engine, if_exists='replace',index=False)

## Machine Learning Model

In [203]:
# ML Code goes here. Use nlp_output_df as your input.

In [204]:
# Export ML Output to Postgres
## <dataframe>.to_sql('<table>', engine, if_exists='append',index=False)