In [15]:
# Import libraries
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import numpy as np
import pickle

In [16]:
# Read CSV file
df = pd.read_csv('NLP_df_finalnum(J29).csv')

# Check df
print(df.shape)
df.head()

(37651, 48)

,Unnamed: 0,articlesid,fakeid,trueid,subject,label,title_count,text_count,article_count,title_tokenized_count,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0,1,1.0,NaN,US News,1,78,2700,2778,9,...,0.419287,0.628931,0.209644,0.209644,0.000000,0.0,0.0,0.0,0.0,0.0
1,1,2,2.0,NaN,US News,1,69,1891,1960,8,...,0.311526,0.934579,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2,3,3.0,NaN,US News,1,89,3381,3470,10,...,0.341297,0.511945,0.511945,0.000000,0.170648,0.0,0.0,0.0,0.0,0.0
3,3,4,4.0,NaN,US News,1,77,2599,2676,8,...,0.439560,0.439560,0.879121,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,4,5,5.0,NaN,US News,1,70,2346,2416,7,...,0.000000,0.230947,0.461894,0.230947,0.461894,0.0,0.0,0.0,0.0,0.0

In [17]:
# Drop columns that will not be used as features
df = df.drop(columns=['Unnamed: 0','articlesid','fakeid','trueid','subject','article_count','article_tokenized_count'])

# Check df columns
df.columns

Index(['label', 'title_count', 'text_count', 'title_tokenized_count',
       'text_tokenized_count', 'US News', 'World News', 'JJ', 'NN', 'VBZ',
       'RP', 'VBG', 'VBP', 'DT', 'RB', 'VB', 'CC', 'PRP', 'IN', 'VBD', 'TO',
       'PRP$', 'NNS', 'JJS', 'CD', 'JJR', 'RBR', 'VBN', 'MD', 'WP', 'FW',
       'NNP', 'WRB', 'WDT', 'PDT', 'EX', 'RBS', 'NNPS', 'UH', 'WP$', 'POS'],
      dtype='object')

In [18]:
# Show df columns and data types 
df.dtypes

label                      int64
title_count                int64
text_count                 int64
title_tokenized_count      int64
text_tokenized_count       int64
US News                    int64
World News                 int64
JJ                       float64
NN                       float64
VBZ                      float64
RP                       float64
VBG                      float64
VBP                      float64
DT                       float64
RB                       float64
VB                       float64
CC                       float64
PRP                      float64
IN                       float64
VBD                      float64
TO                       float64
PRP$                     float64
NNS                      float64
JJS                      float64
CD                       float64
JJR                      float64
RBR                      float64
VBN                      float64
MD                       float64
WP                       float64
FW                       float64
NNP                      float64
WRB                      float64
WDT                      float64
PDT                      float64
EX                       float64
RBS                      float64
NNPS                     float64
UH                       float64
WP$                      float64
POS                      float64
dtype: object

In [19]:
# Scale data
from sklearn.preprocessing import StandardScaler

# Initiate StandardScaler
scaler = StandardScaler()

# Create dataframe without label column
df_nolabel = df.drop(columns= ['label'])

# Fit
scaler.fit(df_nolabel)

# Save the scaler
pickle.dump(scaler, open('scaler.sav', 'wb'))

# Transform
df_scaled = pd.DataFrame(scaler.transform(df_nolabel),columns=df_nolabel.columns)

df_scaled

,title_count,text_count,title_tokenized_count,text_tokenized_count,US News,World News,JJ,NN,VBZ,RP,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0.151024,0.150975,-0.009189,0.150104,0.629476,-0.629476,0.623820,-0.669135,0.427033,0.038871,...,1.332610,0.515030,-0.656953,0.953495,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
1,-0.283590,-0.271992,-0.424534,-0.261377,0.629476,-0.629476,0.170066,1.317906,0.054895,-0.184545,...,0.916963,1.146512,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
2,0.682218,0.507019,0.406155,0.517693,0.629476,-0.629476,-0.193333,0.524035,-0.340731,0.230976,...,1.031791,0.273333,-0.016689,-0.374586,0.194702,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
3,0.102733,0.098169,-0.424534,0.166563,0.629476,-0.629476,-1.466540,1.695557,1.725102,1.447888,...,1.410806,0.123783,0.760974,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
4,-0.235300,-0.034106,-0.839878,-0.102271,0.629476,-0.629476,-1.349540,-1.242219,-0.591402,0.606019,...,-0.284635,-0.307221,-0.122697,1.088451,1.363530,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,-0.718204,0.197506,-0.424534,0.172049,-1.588624,1.588624,-0.187486,-0.680458,-0.674837,0.956873,...,-0.284635,-0.784366,0.724859,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37647,-1.104527,-0.844486,-1.255223,-0.853909,-1.588624,1.588624,0.121581,1.042047,-1.320284,-0.830421,...,-0.284635,-0.784366,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37648,-1.249399,-0.248465,-1.670568,-0.310755,-1.588624,1.588624,-0.244461,-0.115542,2.075204,1.065855,...,0.891319,-0.154476,-1.100969,-0.374586,0.733393,1.592095,-0.213503,-0.054992,-0.208162,-0.036476
37649,-0.669913,-0.636924,-0.839878,-0.623480,-1.588624,1.588624,0.853923,0.168636,-1.199539,-0.830421,...,-0.284635,0.194799,-1.100969,2.627759,3.313843,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37650,-1.249399,-0.570525,-1.255223,-0.519238,-1.588624,1.588624,-0.531272,0.944945,0.072773,0.147533,...,-0.284635,-0.784366,0.897107,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476

In [20]:
# Add scaled values to dataframe
df.update(df_scaled) 
df

,label,title_count,text_count,title_tokenized_count,text_tokenized_count,US News,World News,JJ,NN,VBZ,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,1,0.151024,0.150975,-0.009189,0.150104,0.629476,-0.629476,0.623820,-0.669135,0.427033,...,1.332610,0.515030,-0.656953,0.953495,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
1,1,-0.283590,-0.271992,-0.424534,-0.261377,0.629476,-0.629476,0.170066,1.317906,0.054895,...,0.916963,1.146512,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
2,1,0.682218,0.507019,0.406155,0.517693,0.629476,-0.629476,-0.193333,0.524035,-0.340731,...,1.031791,0.273333,-0.016689,-0.374586,0.194702,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
3,1,0.102733,0.098169,-0.424534,0.166563,0.629476,-0.629476,-1.466540,1.695557,1.725102,...,1.410806,0.123783,0.760974,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
4,1,-0.235300,-0.034106,-0.839878,-0.102271,0.629476,-0.629476,-1.349540,-1.242219,-0.591402,...,-0.284635,-0.307221,-0.122697,1.088451,1.363530,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,0,-0.718204,0.197506,-0.424534,0.172049,-1.588624,1.588624,-0.187486,-0.680458,-0.674837,...,-0.284635,-0.784366,0.724859,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37647,0,-1.104527,-0.844486,-1.255223,-0.853909,-1.588624,1.588624,0.121581,1.042047,-1.320284,...,-0.284635,-0.784366,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37648,0,-1.249399,-0.248465,-1.670568,-0.310755,-1.588624,1.588624,-0.244461,-0.115542,2.075204,...,0.891319,-0.154476,-1.100969,-0.374586,0.733393,1.592095,-0.213503,-0.054992,-0.208162,-0.036476
37649,0,-0.669913,-0.636924,-0.839878,-0.623480,-1.588624,1.588624,0.853923,0.168636,-1.199539,...,-0.284635,0.194799,-1.100969,2.627759,3.313843,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37650,0,-1.249399,-0.570525,-1.255223,-0.519238,-1.588624,1.588624,-0.531272,0.944945,0.072773,...,-0.284635,-0.784366,0.897107,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476

In [21]:
# Assign variables (features and target y and X)
y = df.label
X = df.drop(columns=['label'])

In [22]:
# Import train_test_split module
from sklearn.model_selection import train_test_split

# Split data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, test_size=0.20)

In [23]:
# # MODEL 1: Naive Bayes/GaussianNB()

# #Import GaussianNB library
# from sklearn.naive_bayes import GaussianNB

# # Initiate model
# nb_model = GaussianNB()

# # Train model
# nb_model.fit(X_train, y_train)

# # Create model predictions
# y_pred = nb_model.predict(X_test)

# # Validate Model(1): Accuracy Score 
# accuracy = accuracy_score(y_test, y_pred)*100
# print(accuracy)

# # Validate Model(2): Confusion Matrix
# print(confusion_matrix(y_test, y_pred))

# # Validate Model(3): Classification Report
# print(classification_report(y_test, y_pred))

In [29]:
# # CODE FROM: https://inblog.in/Feature-Importance-in-Naive-Bayes-Classifiers-5qob5d5sFW

# # Calculate feature importance in the Naive Bayes/GaussianNB() model.
# from sklearn.inspection import permutation_importance

# imps = permutation_importance(nb_model, X_test, y_test)
# importances = imps.importances_mean
# std = imps.importances_std
# indices = np.argsort(importances)[::-1]

# features = X.columns

# # Print the feature ranking
# print("Feature ranking:")
# for f in range(X_test.shape[1]):
#     print("%d. %s (%f)" % (f + 1, features[indices[f]], importances[indices[f]]))

In [25]:
# MODEL 2: SVM

#Import library 
from sklearn.svm import SVC

# Initiate model
svm_model = SVC(kernel='linear')

# Train model
svm_model.fit(X_train, y_train)

# Create model predictions
y_pred = svm_model.predict(X_test)

# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, y_pred)*100
print(accuracy)

# Validate Model(2): Confusion Matrix
print(confusion_matrix(y_test, y_pred))

# Validate Model(3): Classification Report
print(classification_report(y_test, y_pred))

92.94914354003453
[[4042  172]
 [ 359 2958]]
              precision    recall  f1-score   support

           0       0.92      0.96      0.94      4214
           1       0.95      0.89      0.92      3317

    accuracy                           0.93      7531
   macro avg       0.93      0.93      0.93      7531
weighted avg       0.93      0.93      0.93      7531

In [26]:
# Import permutation_importance library
from sklearn.inspection import permutation_importance

# Calculate feature importance SVM model.
svm_imps = permutation_importance(svm_model, X_test, y_test)
svm_importances = svm_imps.importances_mean
std = svm_imps.importances_std
indices = np.argsort(svm_importances)[::-1]

svm_features = X.columns

# Print the feature ranking
print("Feature ranking:")
for f in range(X_test.shape[1]):
    print("%d. %s (%f)" % (f + 1, svm_features[indices[f]], svm_importances[indices[f]]))

Feature ranking:
1. text_tokenized_count (0.169831)
2. title_count (0.152782)
3. text_count (0.148347)
4. VBD (0.051786)
5. NNS (0.021431)
6. MD (0.019280)
7. RB (0.013119)
8. PRP (0.011791)
9. TO (0.010145)
10. JJ (0.007648)
11. US News (0.006374)
12. World News (0.006374)
13. IN (0.005604)
14. WRB (0.005019)
15. RP (0.004541)
16. WP (0.002576)
17. VBN (0.001992)
18. NN (0.001912)
19. VB (0.001779)
20. VBZ (0.001408)
21. title_tokenized_count (0.001381)
22. DT (0.001248)
23. VBP (0.000505)
24. RBS (0.000398)
25. WP$ (0.000372)
26. PDT (0.000319)
27. CC (0.000266)
28. NNP (0.000239)
29. UH (0.000186)
30. EX (0.000106)
31. FW (0.000027)
32. WDT (0.000000)
33. POS (0.000000)
34. VBG (-0.000027)
35. PRP$ (-0.000027)
36. JJS (-0.000186)
37. RBR (-0.000186)
38. CD (-0.000345)
39. NNPS (-0.000505)
40. JJR (-0.000611)

In [27]:
# Save model to disk
pickle.dump(svm_model, open('svm_model.sav', 'wb'))