In [1]:
# Import libraries
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import numpy as np

In [2]:
# Read CSV file
df = pd.read_csv('NLP_df_finalnum(J22).csv')

# Check df
print(df.shape)
df.head()

(38645, 48)

,Unnamed: 0,articlesid,fakeid,trueid,subject,label,title_count,text_count,article_count,title_tokenized_count,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0,1,1.0,NaN,US News,1,78,2700,2778,9,...,0.419287,0.628931,0.209644,0.209644,0.000000,0.0,0.0,0.0,0.0,0.0
1,1,2,2.0,NaN,US News,1,69,1891,1960,8,...,0.311526,0.934579,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2,3,3.0,NaN,US News,1,89,3381,3470,10,...,0.341297,0.511945,0.511945,0.000000,0.170648,0.0,0.0,0.0,0.0,0.0
3,3,4,4.0,NaN,US News,1,77,2599,2676,8,...,0.439560,0.439560,0.879121,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,4,5,5.0,NaN,US News,1,70,2346,2416,7,...,0.000000,0.230947,0.461894,0.230947,0.461894,0.0,0.0,0.0,0.0,0.0

In [3]:
# Encode Subject column (US News = 0 and World News = 1)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['subject'] = le.fit_transform(df['subject']) 

#Check subject column
df.subject

0        0
1        0
2        0
3        0
4        0
        ..
38640    1
38641    1
38642    1
38643    1
38644    1
Name: subject, Length: 38645, dtype: int64

In [4]:
# Drop US News and World News columns
df = df.drop(columns=['US News','World News'])

# Check df columns
df.columns

Index(['Unnamed: 0', 'articlesid', 'fakeid', 'trueid', 'subject', 'label',
       'title_count', 'text_count', 'article_count', 'title_tokenized_count',
       'text_tokenized_count', 'article_tokenized_count', 'JJ', 'NN', 'VBZ',
       'RP', 'VBG', 'VBP', 'DT', 'RB', 'VB', 'CC', 'PRP', 'IN', 'VBD', 'TO',
       'PRP$', 'NNS', 'JJS', 'CD', 'JJR', 'RBR', 'VBN', 'MD', 'WP', 'FW',
       'NNP', 'WRB', 'WDT', 'PDT', 'EX', 'RBS', 'NNPS', 'UH', 'WP$', 'POS'],
      dtype='object')

In [5]:
# Show df columns and data types 
df.dtypes

Unnamed: 0                   int64
articlesid                   int64
fakeid                     float64
trueid                     float64
subject                      int64
label                        int64
title_count                  int64
text_count                   int64
article_count                int64
title_tokenized_count        int64
text_tokenized_count         int64
article_tokenized_count      int64
JJ                         float64
NN                         float64
VBZ                        float64
RP                         float64
VBG                        float64
VBP                        float64
DT                         float64
RB                         float64
VB                         float64
CC                         float64
PRP                        float64
IN                         float64
VBD                        float64
TO                         float64
PRP$                       float64
NNS                        float64
JJS                        float64
CD                         float64
JJR                        float64
RBR                        float64
VBN                        float64
MD                         float64
WP                         float64
FW                         float64
NNP                        float64
WRB                        float64
WDT                        float64
PDT                        float64
EX                         float64
RBS                        float64
NNPS                       float64
UH                         float64
WP$                        float64
POS                        float64
dtype: object

In [6]:
# Assign variables (features and target y and X)
y = df.label
X = df.drop(columns=['Unnamed: 0','articlesid','fakeid','trueid','label'])

In [7]:
# Import train_test_split module
from sklearn.model_selection import train_test_split

# Split data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, test_size=0.20)

In [8]:
# MODEL 1: Naive Bayes/GaussianNB()

#Import GaussianNB library
from sklearn.naive_bayes import GaussianNB

# Initiate model
nb_model = GaussianNB()

# Train model
nb_model.fit(X_train, y_train)

# Create model predictions
y_pred = nb_model.predict(X_test)

# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, y_pred)*100
print(accuracy)

# Validate Model(2): Confusion Matrix
print(confusion_matrix(y_test, y_pred))

# Validate Model(3): Classification Report
print(classification_report(y_test, y_pred))

89.01539655841634
[[3929  338]
 [ 511 2951]]
              precision    recall  f1-score   support

           0       0.88      0.92      0.90      4267
           1       0.90      0.85      0.87      3462

    accuracy                           0.89      7729
   macro avg       0.89      0.89      0.89      7729
weighted avg       0.89      0.89      0.89      7729

In [13]:
# CODE FROM: https://inblog.in/Feature-Importance-in-Naive-Bayes-Classifiers-5qob5d5sFW

# Calculate feature importance in the Naive Bayes/GaussianNB() model.
from sklearn.inspection import permutation_importance

imps = permutation_importance(nb_model, X_test, y_test)
importances = imps.importances_mean
std = imps.importances_std
indices = np.argsort(importances)[::-1]

features = X.columns

# Print the feature ranking
print("Feature ranking:")
for f in range(X_test.shape[1]):
    print("%d. %s (%f)" % (f + 1, features[indices[f]], importances[indices[f]]))

Feature ranking:
1. title_count (0.061560)
2. subject (0.045465)
3. title_tokenized_count (0.027248)
4. RB (0.017130)
5. PRP (0.014569)
6. WRB (0.010765)
7. VBZ (0.005952)
8. VBP (0.005098)
9. NNS (0.004399)
10. JJ (0.003700)
11. NNP (0.003597)
12. RP (0.003235)
13. WP (0.003105)
14. RBS (0.002898)
15. VBD (0.002665)
16. MD (0.002277)
17. FW (0.001527)
18. NN (0.001501)
19. VBG (0.000647)
20. PRP$ (0.000543)
21. JJS (0.000388)
22. RBR (0.000388)
23. JJR (0.000311)
24. UH (0.000233)
25. PDT (0.000155)
26. NNPS (0.000104)
27. TO (0.000104)
28. POS (0.000052)
29. CD (0.000026)
30. WP$ (-0.000104)
31. EX (-0.000207)
32. VB (-0.000311)
33. CC (-0.000311)
34. WDT (-0.000466)
35. DT (-0.000621)
36. IN (-0.000673)
37. VBN (-0.001190)
38. text_count (-0.002381)
39. text_tokenized_count (-0.002484)
40. article_count (-0.002510)
41. article_tokenized_count (-0.002536)