In [1]:
# Import libraries
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# Read CSV file
df = pd.read_csv('NLP_df_finalnum(J22).csv')

# Check df
print(df.shape)
df.head()

(38645, 48)

,Unnamed: 0,articlesid,fakeid,trueid,subject,label,title_count,text_count,article_count,title_tokenized_count,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0,1,1.0,NaN,US News,1,78,2700,2778,9,...,0.419287,0.628931,0.209644,0.209644,0.000000,0.0,0.0,0.0,0.0,0.0
1,1,2,2.0,NaN,US News,1,69,1891,1960,8,...,0.311526,0.934579,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2,3,3.0,NaN,US News,1,89,3381,3470,10,...,0.341297,0.511945,0.511945,0.000000,0.170648,0.0,0.0,0.0,0.0,0.0
3,3,4,4.0,NaN,US News,1,77,2599,2676,8,...,0.439560,0.439560,0.879121,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,4,5,5.0,NaN,US News,1,70,2346,2416,7,...,0.000000,0.230947,0.461894,0.230947,0.461894,0.0,0.0,0.0,0.0,0.0

In [3]:
# Encode Subject column (US News = 0 and World News = 1)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['subject'] = le.fit_transform(df['subject']) 

#Check subject column
df.subject

0        0
1        0
2        0
3        0
4        0
        ..
38640    1
38641    1
38642    1
38643    1
38644    1
Name: subject, Length: 38645, dtype: int64

In [4]:
# Drop columns
df = df.drop(columns=['Unnamed: 0','articlesid','fakeid','trueid','US News','World News'])

# Check df columns
df.columns

Index(['subject', 'label', 'title_count', 'text_count', 'article_count',
       'title_tokenized_count', 'text_tokenized_count',
       'article_tokenized_count', 'JJ', 'NN', 'VBZ', 'RP', 'VBG', 'VBP', 'DT',
       'RB', 'VB', 'CC', 'PRP', 'IN', 'VBD', 'TO', 'PRP$', 'NNS', 'JJS', 'CD',
       'JJR', 'RBR', 'VBN', 'MD', 'WP', 'FW', 'NNP', 'WRB', 'WDT', 'PDT', 'EX',
       'RBS', 'NNPS', 'UH', 'WP$', 'POS'],
      dtype='object')

In [5]:
# Show df columns and data types 
df.dtypes

subject                      int64
label                        int64
title_count                  int64
text_count                   int64
article_count                int64
title_tokenized_count        int64
text_tokenized_count         int64
article_tokenized_count      int64
JJ                         float64
NN                         float64
VBZ                        float64
RP                         float64
VBG                        float64
VBP                        float64
DT                         float64
RB                         float64
VB                         float64
CC                         float64
PRP                        float64
IN                         float64
VBD                        float64
TO                         float64
PRP$                       float64
NNS                        float64
JJS                        float64
CD                         float64
JJR                        float64
RBR                        float64
VBN                        float64
MD                         float64
WP                         float64
FW                         float64
NNP                        float64
WRB                        float64
WDT                        float64
PDT                        float64
EX                         float64
RBS                        float64
NNPS                       float64
UH                         float64
WP$                        float64
POS                        float64
dtype: object

In [6]:
# Scale data
from sklearn.preprocessing import StandardScaler

# Initiate StandardScaler
scaler = StandardScaler()

# Create dataframe without label column
df_nolabel = df.drop(columns= ['label'])

# Transform
df_scaled = pd.DataFrame(scaler.fit_transform(df_nolabel),columns=df_nolabel.columns)

df_scaled

,subject,title_count,text_count,article_count,title_tokenized_count,text_tokenized_count,article_tokenized_count,JJ,NN,VBZ,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,-0.620025,0.130252,0.142244,0.143611,-0.025945,0.141347,0.140963,0.631809,-0.675242,0.421357,...,1.321872,0.507059,-0.656669,0.956782,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
1,-0.620025,-0.297269,-0.280377,-0.283461,-0.435026,-0.269820,-0.275519,0.175462,1.308653,0.048200,...,0.907407,1.138679,-1.103292,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
2,-0.620025,0.652778,0.497997,0.504900,0.383135,0.508656,0.513604,-0.190013,0.516039,-0.348509,...,1.021909,0.265310,-0.012647,-0.376807,0.192192,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
3,-0.620025,0.082750,0.089481,0.090358,-0.435026,0.157794,0.151923,-1.470494,1.685707,1.722981,...,1.399846,0.115727,0.769581,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
4,-0.620025,-0.249767,-0.042686,-0.045386,-0.844106,-0.110835,-0.122078,-1.352825,-1.247419,-0.599866,...,-0.290773,-0.315371,-0.119277,1.092296,1.360864,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38640,1.612839,-0.724791,0.188737,0.180680,-0.435026,0.163276,0.157403,-0.184133,-0.686548,-0.683529,...,-0.290773,-0.792620,0.733254,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
38641,1.612839,-1.104810,-0.852405,-0.864029,-1.253187,-0.861901,-0.878321,0.126701,1.033231,-1.330744,...,-0.290773,-0.792620,-1.103292,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
38642,1.612839,-1.247317,-0.256869,-0.270409,-1.662267,-0.319160,-0.341279,-0.241433,-0.122526,2.074041,...,0.881836,-0.162593,-1.103292,-0.376807,0.730812,1.592390,-0.213593,-0.056352,-0.209116,-0.036323
38643,1.612839,-0.677288,-0.645012,-0.652059,-0.844106,-0.631647,-0.642680,0.863227,0.161202,-1.209668,...,-0.290773,0.186759,-1.103292,2.637988,3.310917,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
38644,1.612839,-1.247317,-0.578667,-0.592019,-1.253187,-0.527485,-0.544040,-0.529882,0.936283,0.066128,...,-0.290773,-0.792620,0.906513,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323

In [7]:
# Add scaled values to dataframe
df.update(df_scaled) 
df

,subject,label,title_count,text_count,article_count,title_tokenized_count,text_tokenized_count,article_tokenized_count,JJ,NN,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,-0.620025,1,0.130252,0.142244,0.143611,-0.025945,0.141347,0.140963,0.631809,-0.675242,...,1.321872,0.507059,-0.656669,0.956782,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
1,-0.620025,1,-0.297269,-0.280377,-0.283461,-0.435026,-0.269820,-0.275519,0.175462,1.308653,...,0.907407,1.138679,-1.103292,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
2,-0.620025,1,0.652778,0.497997,0.504900,0.383135,0.508656,0.513604,-0.190013,0.516039,...,1.021909,0.265310,-0.012647,-0.376807,0.192192,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
3,-0.620025,1,0.082750,0.089481,0.090358,-0.435026,0.157794,0.151923,-1.470494,1.685707,...,1.399846,0.115727,0.769581,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
4,-0.620025,1,-0.249767,-0.042686,-0.045386,-0.844106,-0.110835,-0.122078,-1.352825,-1.247419,...,-0.290773,-0.315371,-0.119277,1.092296,1.360864,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38640,1.612839,0,-0.724791,0.188737,0.180680,-0.435026,0.163276,0.157403,-0.184133,-0.686548,...,-0.290773,-0.792620,0.733254,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
38641,1.612839,0,-1.104810,-0.852405,-0.864029,-1.253187,-0.861901,-0.878321,0.126701,1.033231,...,-0.290773,-0.792620,-1.103292,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
38642,1.612839,0,-1.247317,-0.256869,-0.270409,-1.662267,-0.319160,-0.341279,-0.241433,-0.122526,...,0.881836,-0.162593,-1.103292,-0.376807,0.730812,1.592390,-0.213593,-0.056352,-0.209116,-0.036323
38643,1.612839,0,-0.677288,-0.645012,-0.652059,-0.844106,-0.631647,-0.642680,0.863227,0.161202,...,-0.290773,0.186759,-1.103292,2.637988,3.310917,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323
38644,1.612839,0,-1.247317,-0.578667,-0.592019,-1.253187,-0.527485,-0.544040,-0.529882,0.936283,...,-0.290773,-0.792620,0.906513,-0.376807,-0.492564,-0.347444,-0.213593,-0.056352,-0.209116,-0.036323

In [8]:
# Assign variables (features and target y and X)
y = df.label
X = df.drop(columns=['label'])

In [9]:
# Import train_test_split module
from sklearn.model_selection import train_test_split

# Split data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, test_size=0.20)

In [10]:
# MODEL 1: Naive Bayes/GaussianNB()

#Import GaussianNB library
from sklearn.naive_bayes import GaussianNB

# Initiate model
nb_model = GaussianNB()

# Train model
nb_model.fit(X_train, y_train)

# Create model predictions
y_pred = nb_model.predict(X_test)

# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, y_pred)*100
print(accuracy)

# Validate Model(2): Confusion Matrix
print(confusion_matrix(y_test, y_pred))

# Validate Model(3): Classification Report
print(classification_report(y_test, y_pred))

88.83426057704749
[[3928  339]
 [ 524 2938]]
              precision    recall  f1-score   support

           0       0.88      0.92      0.90      4267
           1       0.90      0.85      0.87      3462

    accuracy                           0.89      7729
   macro avg       0.89      0.88      0.89      7729
weighted avg       0.89      0.89      0.89      7729

In [11]:
# CODE FROM: https://inblog.in/Feature-Importance-in-Naive-Bayes-Classifiers-5qob5d5sFW

# Calculate feature importance in the Naive Bayes/GaussianNB() model.
from sklearn.inspection import permutation_importance

imps = permutation_importance(nb_model, X_test, y_test)
importances = imps.importances_mean
std = imps.importances_std
indices = np.argsort(importances)[::-1]

features = X.columns

# Print the feature ranking
print("Feature ranking:")
for f in range(X_test.shape[1]):
    print("%d. %s (%f)" % (f + 1, features[indices[f]], importances[indices[f]]))

Feature ranking:
1. title_count (0.062363)
2. subject (0.048337)
3. title_tokenized_count (0.027559)
4. RB (0.016846)
5. PRP (0.016043)
6. WRB (0.011981)
7. VBP (0.006055)
8. VBZ (0.005279)
9. RP (0.005201)
10. WP (0.005046)
11. NNS (0.004270)
12. RBS (0.004218)
13. JJ (0.003907)
14. NNP (0.003674)
15. MD (0.002588)
16. VBD (0.002303)
17. FW (0.001889)
18. PRP$ (0.001242)
19. UH (0.001113)
20. WP$ (0.001061)
21. NN (0.001035)
22. VBG (0.001035)
23. EX (0.001009)
24. RBR (0.000880)
25. PDT (0.000569)
26. JJR (0.000492)
27. TO (0.000311)
28. JJS (0.000311)
29. IN (0.000285)
30. POS (0.000259)
31. WDT (0.000052)
32. CD (-0.000052)
33. NNPS (-0.000104)
34. VB (-0.000699)
35. DT (-0.000725)
36. CC (-0.000802)
37. VBN (-0.001294)
38. article_count (-0.002122)
39. text_tokenized_count (-0.002148)
40. text_count (-0.002174)
41. article_tokenized_count (-0.002251)

In [12]:
# MODEL 2: SVM

#Import library 
from sklearn.svm import SVC

# Initiate model
svm_model = SVC(kernel='linear')

# Train model
svm_model.fit(X_train, y_train)

# Create model predictions
y_pred = svm_model.predict(X_test)

# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, y_pred)*100
print(accuracy)

# Validate Model(2): Confusion Matrix
print(confusion_matrix(y_test, y_pred))

# Validate Model(3): Classification Report
print(classification_report(y_test, y_pred))

92.53460991072583
[[4064  203]
 [ 374 3088]]
              precision    recall  f1-score   support

           0       0.92      0.95      0.93      4267
           1       0.94      0.89      0.91      3462

    accuracy                           0.93      7729
   macro avg       0.93      0.92      0.92      7729
weighted avg       0.93      0.93      0.93      7729

In [31]:
# Calculate feature importance SVM model.
svm_imps = permutation_importance(svm_model, X_test, y_test)
svm_importances = svm_imps.importances_mean
std = svm_imps.importances_std
indices = np.argsort(svm_importances)[::-1]

svm_features = X.columns

# Print the feature ranking
print("Feature ranking:")
for f in range(X_test.shape[1]):
    print("%d. %s (%f)" % (f + 1, svm_features[indices[f]], svm_importances[indices[f]]))

Feature ranking:
1. title_count (0.157123)
2. text_tokenized_count (0.077009)
3. article_tokenized_count (0.075974)
4. article_count (0.060681)
5. text_count (0.059309)
6. VBD (0.051106)
7. subject (0.021348)
8. MD (0.020442)
9. NNS (0.017415)
10. RB (0.016509)
11. PRP (0.015526)
12. TO (0.008617)
13. IN (0.006650)
14. JJ (0.006236)
15. WRB (0.005848)
16. RP (0.005098)
17. VBZ (0.002096)
18. title_tokenized_count (0.001760)
19. WP (0.001656)
20. VBN (0.001346)
21. DT (0.001087)
22. NNP (0.000440)
23. VB (0.000414)
24. VBP (0.000336)
25. RBS (0.000336)
26. EX (0.000311)
27. NNPS (0.000259)
28. PDT (0.000155)
29. NN (0.000104)
30. UH (0.000104)
31. JJS (0.000052)
32. CD (0.000052)
33. POS (0.000000)
34. JJR (-0.000026)
35. VBG (-0.000052)
36. CC (-0.000078)
37. RBR (-0.000078)
38. WP$ (-0.000078)
39. FW (-0.000104)
40. WDT (-0.000233)
41. PRP$ (-0.000595)