In [1]:
# Import libraries
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import numpy as np

In [2]:
# Read CSV file
df = pd.read_csv('NLP_df_finalnum(J29).csv')

# Check df
print(df.shape)
df.head()

(37651, 48)

,Unnamed: 0,articlesid,fakeid,trueid,subject,label,title_count,text_count,article_count,title_tokenized_count,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0,1,1.0,NaN,US News,1,78,2700,2778,9,...,0.419287,0.628931,0.209644,0.209644,0.000000,0.0,0.0,0.0,0.0,0.0
1,1,2,2.0,NaN,US News,1,69,1891,1960,8,...,0.311526,0.934579,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2,3,3.0,NaN,US News,1,89,3381,3470,10,...,0.341297,0.511945,0.511945,0.000000,0.170648,0.0,0.0,0.0,0.0,0.0
3,3,4,4.0,NaN,US News,1,77,2599,2676,8,...,0.439560,0.439560,0.879121,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,4,5,5.0,NaN,US News,1,70,2346,2416,7,...,0.000000,0.230947,0.461894,0.230947,0.461894,0.0,0.0,0.0,0.0,0.0

In [3]:
# Drop columns that will not be used as features
df = df.drop(columns=['Unnamed: 0','articlesid','fakeid','trueid','subject','article_count','article_tokenized_count'])

# Check df columns
df.columns

Index(['label', 'title_count', 'text_count', 'title_tokenized_count',
       'text_tokenized_count', 'US News', 'World News', 'JJ', 'NN', 'VBZ',
       'RP', 'VBG', 'VBP', 'DT', 'RB', 'VB', 'CC', 'PRP', 'IN', 'VBD', 'TO',
       'PRP$', 'NNS', 'JJS', 'CD', 'JJR', 'RBR', 'VBN', 'MD', 'WP', 'FW',
       'NNP', 'WRB', 'WDT', 'PDT', 'EX', 'RBS', 'NNPS', 'UH', 'WP$', 'POS'],
      dtype='object')

In [4]:
# Show df columns and data types 
df.dtypes

label                      int64
title_count                int64
text_count                 int64
title_tokenized_count      int64
text_tokenized_count       int64
US News                    int64
World News                 int64
JJ                       float64
NN                       float64
VBZ                      float64
RP                       float64
VBG                      float64
VBP                      float64
DT                       float64
RB                       float64
VB                       float64
CC                       float64
PRP                      float64
IN                       float64
VBD                      float64
TO                       float64
PRP$                     float64
NNS                      float64
JJS                      float64
CD                       float64
JJR                      float64
RBR                      float64
VBN                      float64
MD                       float64
WP                       float64
FW                       float64
NNP                      float64
WRB                      float64
WDT                      float64
PDT                      float64
EX                       float64
RBS                      float64
NNPS                     float64
UH                       float64
WP$                      float64
POS                      float64
dtype: object

In [5]:
# # Scale data
# from sklearn.preprocessing import StandardScaler

# # Initiate StandardScaler
# scaler = StandardScaler()

# # Create dataframe without label column
# df_nolabel = df.drop(columns= ['label'])

# # Fit
# scaler.fit(df_nolabel)

# # Save the scaler
# #pickle.dump(scaler,open('scaler.sav','wb'))

# # Transform
# df_scaled = pd.DataFrame(scaler.transform(df_nolabel),columns=df_nolabel.columns)

# df_scaled

In [6]:
# # Add scaled values to dataframe
# df.update(df_scaled) 
# df

In [7]:
# Assign variables (features and target y and X)
y = df.label
X = df.drop(columns=['label'])

In [8]:
# Import train_test_split module
from sklearn.model_selection import train_test_split

# Split data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=45, test_size=0.20)

In [9]:
# MODEL 1: Naive Bayes/GaussianNB()

#Import GaussianNB library
from sklearn.naive_bayes import GaussianNB

# Initiate model
gb_model = GaussianNB()

# Train model
gb_model.fit(X_train, y_train)

# Create model predictions
y_pred = gb_model.predict(X_test)

In [10]:
# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, gb_model.predict(X_test))*100
print(accuracy)

88.97888726596733

In [11]:
# Validate Model(2): Confusion Matrix
print(confusion_matrix(y_test, y_pred))

[[3825  443]
 [ 387 2876]]

In [12]:
# Validate Model(3): Classification Report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.90      0.90      4268
           1       0.87      0.88      0.87      3263

    accuracy                           0.89      7531
   macro avg       0.89      0.89      0.89      7531
weighted avg       0.89      0.89      0.89      7531

In [13]:
# # CODE FROM: https://inblog.in/Feature-Importance-in-Naive-Bayes-Classifiers-5qob5d5sFW

# # Calculate feature importance in the Naive Bayes/GaussianNB() model.
# from sklearn.inspection import permutation_importance

# imps = permutation_importance(gb_model, X_test, y_test)
# importances = imps.importances_mean
# std = imps.importances_std
# indices = np.argsort(importances)[::-1]

# features = X.columns

# # Print the feature ranking
# print("Feature ranking:")
# for f in range(X_test.shape[1]):
#     print("%d. %s (%f)" % (f + 1, features[indices[f]], importances[indices[f]]))

In [14]:
# # MODEL 2: SVM

# #Import library 
# from sklearn.svm import SVC

# # Initiate model
# svm_model = SVC(kernel='linear')

# # Train model
# svm_model.fit(X_train, y_train)

# # Create model predictions
# y_pred = svm_model.predict(X_test)

In [15]:
# # Validate Model(1): Accuracy Score 
# accuracy = accuracy_score(y_test, y_pred)*100
# print(accuracy)

# # Validate Model(2): Confusion Matrix
# print(confusion_matrix(y_test, y_pred))

# # Validate Model(3): Classification Report
# print(classification_report(y_test, y_pred))

In [16]:
# # Import permutation_importance library
# from sklearn.inspection import permutation_importance

# # Calculate feature importance SVM model.
# svm_imps = permutation_importance(svm_model, X_test, y_test)
# svm_importances = svm_imps.importances_mean
# std = svm_imps.importances_std
# indices = np.argsort(svm_importances)[::-1]

# svm_features = X.columns

# # Print the feature ranking
# print("Feature ranking:")
# for f in range(X_test.shape[1]):
#     print("%d. %s (%f)" % (f + 1, svm_features[indices[f]], svm_importances[indices[f]]))

In [17]:
# Save model to disk
import pickle
filename = 'gb_model.sav'
pickle.dump(gb_model, open(filename, 'wb'))