In [1]:
# Import libraries
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import numpy as np

In [2]:
# Read CSV file
df = pd.read_csv('NLP_df_finalnum(J29).csv')

# Check df
print(df.shape)
df.head()

(37651, 48)

,Unnamed: 0,articlesid,fakeid,trueid,subject,label,title_count,text_count,article_count,title_tokenized_count,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0,1,1.0,NaN,US News,1,78,2700,2778,9,...,0.419287,0.628931,0.209644,0.209644,0.000000,0.0,0.0,0.0,0.0,0.0
1,1,2,2.0,NaN,US News,1,69,1891,1960,8,...,0.311526,0.934579,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2,3,3.0,NaN,US News,1,89,3381,3470,10,...,0.341297,0.511945,0.511945,0.000000,0.170648,0.0,0.0,0.0,0.0,0.0
3,3,4,4.0,NaN,US News,1,77,2599,2676,8,...,0.439560,0.439560,0.879121,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,4,5,5.0,NaN,US News,1,70,2346,2416,7,...,0.000000,0.230947,0.461894,0.230947,0.461894,0.0,0.0,0.0,0.0,0.0

In [3]:
df.loc[[26079]]

,Unnamed: 0,articlesid,fakeid,trueid,subject,label,title_count,text_count,article_count,title_tokenized_count,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
26079,26079,26839,NaN,11270.0,US News,0,59,2687,2746,7,...,0.0,1.357466,0.452489,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Drop columns that will not be used as features
df = df.drop(columns=['Unnamed: 0','articlesid','fakeid','trueid','subject','article_count','article_tokenized_count'])

# Check df columns
df.columns

Index(['label', 'title_count', 'text_count', 'title_tokenized_count',
       'text_tokenized_count', 'US News', 'World News', 'JJ', 'NN', 'VBZ',
       'RP', 'VBG', 'VBP', 'DT', 'RB', 'VB', 'CC', 'PRP', 'IN', 'VBD', 'TO',
       'PRP$', 'NNS', 'JJS', 'CD', 'JJR', 'RBR', 'VBN', 'MD', 'WP', 'FW',
       'NNP', 'WRB', 'WDT', 'PDT', 'EX', 'RBS', 'NNPS', 'UH', 'WP$', 'POS'],
      dtype='object')

In [5]:
# Show df columns and data types 
df.dtypes

label                      int64
title_count                int64
text_count                 int64
title_tokenized_count      int64
text_tokenized_count       int64
US News                    int64
World News                 int64
JJ                       float64
NN                       float64
VBZ                      float64
RP                       float64
VBG                      float64
VBP                      float64
DT                       float64
RB                       float64
VB                       float64
CC                       float64
PRP                      float64
IN                       float64
VBD                      float64
TO                       float64
PRP$                     float64
NNS                      float64
JJS                      float64
CD                       float64
JJR                      float64
RBR                      float64
VBN                      float64
MD                       float64
WP                       float64
FW                       float64
NNP                      float64
WRB                      float64
WDT                      float64
PDT                      float64
EX                       float64
RBS                      float64
NNPS                     float64
UH                       float64
WP$                      float64
POS                      float64
dtype: object

In [6]:
df.loc[[26079]]

,label,title_count,text_count,title_tokenized_count,text_tokenized_count,US News,World News,JJ,NN,VBZ,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
26079,0,59,2687,7,261,1,0,9.276018,26.470588,3.393665,...,0.0,1.357466,0.452489,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Scale data
from sklearn.preprocessing import StandardScaler

# Initiate StandardScaler
scaler = StandardScaler()

# Create dataframe without label column
df_nolabel = df.drop(columns= ['label'])

# Fit
scaler.fit(df_nolabel)

# Save the scaler
#pickle.dump(scaler,open('scaler.sav','wb'))

# Transform
df_scaled = pd.DataFrame(scaler.transform(df_nolabel),columns=df_nolabel.columns)

df_scaled

,title_count,text_count,title_tokenized_count,text_tokenized_count,US News,World News,JJ,NN,VBZ,RP,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0.151024,0.150975,-0.009189,0.150104,0.629476,-0.629476,0.623820,-0.669135,0.427033,0.038871,...,1.332610,0.515030,-0.656953,0.953495,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
1,-0.283590,-0.271992,-0.424534,-0.261377,0.629476,-0.629476,0.170066,1.317906,0.054895,-0.184545,...,0.916963,1.146512,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
2,0.682218,0.507019,0.406155,0.517693,0.629476,-0.629476,-0.193333,0.524035,-0.340731,0.230976,...,1.031791,0.273333,-0.016689,-0.374586,0.194702,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
3,0.102733,0.098169,-0.424534,0.166563,0.629476,-0.629476,-1.466540,1.695557,1.725102,1.447888,...,1.410806,0.123783,0.760974,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
4,-0.235300,-0.034106,-0.839878,-0.102271,0.629476,-0.629476,-1.349540,-1.242219,-0.591402,0.606019,...,-0.284635,-0.307221,-0.122697,1.088451,1.363530,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,-0.718204,0.197506,-0.424534,0.172049,-1.588624,1.588624,-0.187486,-0.680458,-0.674837,0.956873,...,-0.284635,-0.784366,0.724859,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37647,-1.104527,-0.844486,-1.255223,-0.853909,-1.588624,1.588624,0.121581,1.042047,-1.320284,-0.830421,...,-0.284635,-0.784366,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37648,-1.249399,-0.248465,-1.670568,-0.310755,-1.588624,1.588624,-0.244461,-0.115542,2.075204,1.065855,...,0.891319,-0.154476,-1.100969,-0.374586,0.733393,1.592095,-0.213503,-0.054992,-0.208162,-0.036476
37649,-0.669913,-0.636924,-0.839878,-0.623480,-1.588624,1.588624,0.853923,0.168636,-1.199539,-0.830421,...,-0.284635,0.194799,-1.100969,2.627759,3.313843,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37650,-1.249399,-0.570525,-1.255223,-0.519238,-1.588624,1.588624,-0.531272,0.944945,0.072773,0.147533,...,-0.284635,-0.784366,0.897107,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476

In [8]:
# Add scaled values to dataframe
df.update(df_scaled) 
df

,label,title_count,text_count,title_tokenized_count,text_tokenized_count,US News,World News,JJ,NN,VBZ,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,1,0.151024,0.150975,-0.009189,0.150104,0.629476,-0.629476,0.623820,-0.669135,0.427033,...,1.332610,0.515030,-0.656953,0.953495,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
1,1,-0.283590,-0.271992,-0.424534,-0.261377,0.629476,-0.629476,0.170066,1.317906,0.054895,...,0.916963,1.146512,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
2,1,0.682218,0.507019,0.406155,0.517693,0.629476,-0.629476,-0.193333,0.524035,-0.340731,...,1.031791,0.273333,-0.016689,-0.374586,0.194702,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
3,1,0.102733,0.098169,-0.424534,0.166563,0.629476,-0.629476,-1.466540,1.695557,1.725102,...,1.410806,0.123783,0.760974,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
4,1,-0.235300,-0.034106,-0.839878,-0.102271,0.629476,-0.629476,-1.349540,-1.242219,-0.591402,...,-0.284635,-0.307221,-0.122697,1.088451,1.363530,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,0,-0.718204,0.197506,-0.424534,0.172049,-1.588624,1.588624,-0.187486,-0.680458,-0.674837,...,-0.284635,-0.784366,0.724859,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37647,0,-1.104527,-0.844486,-1.255223,-0.853909,-1.588624,1.588624,0.121581,1.042047,-1.320284,...,-0.284635,-0.784366,-1.100969,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37648,0,-1.249399,-0.248465,-1.670568,-0.310755,-1.588624,1.588624,-0.244461,-0.115542,2.075204,...,0.891319,-0.154476,-1.100969,-0.374586,0.733393,1.592095,-0.213503,-0.054992,-0.208162,-0.036476
37649,0,-0.669913,-0.636924,-0.839878,-0.623480,-1.588624,1.588624,0.853923,0.168636,-1.199539,...,-0.284635,0.194799,-1.100969,2.627759,3.313843,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476
37650,0,-1.249399,-0.570525,-1.255223,-0.519238,-1.588624,1.588624,-0.531272,0.944945,0.072773,...,-0.284635,-0.784366,0.897107,-0.374586,-0.490145,-0.345675,-0.213503,-0.054992,-0.208162,-0.036476

In [9]:
# Assign variables (features and target y and X)
y = df.label
X = df.drop(columns=['label'])

In [10]:
# Import train_test_split module
from sklearn.model_selection import train_test_split

# Split data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=45, test_size=0.20)

In [11]:
# MODEL 1: Naive Bayes/GaussianNB()

#Import GaussianNB library
from sklearn.naive_bayes import GaussianNB

# Initiate model
gb_model = GaussianNB()

# Train model
gb_model.fit(X_train, y_train)

# Create model predictions
y_pred = gb_model.predict(X_test)

In [12]:
# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, gb_model.predict(X_test))*100

In [13]:
# Validate Model(2): Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

In [14]:
# Validate Model(3): Classification Report
classification = classification_report(y_test, y_pred)

In [15]:
# Displaying validation results
print("Confusion Matrix")
display(cm_df)

print(f"Accuracy Score : {accuracy}")

print("Classification Report")
print(classification)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3837          431
Actual 1          410         2853

Accuracy Score : 88.83282432611871
Classification Report
              precision    recall  f1-score   support

           0       0.90      0.90      0.90      4268
           1       0.87      0.87      0.87      3263

    accuracy                           0.89      7531
   macro avg       0.89      0.89      0.89      7531
weighted avg       0.89      0.89      0.89      7531

In [16]:
# CODE FROM: https://inblog.in/Feature-Importance-in-Naive-Bayes-Classifiers-5qob5d5sFW

# Calculate feature importance in the Naive Bayes/GaussianNB() model.
from sklearn.inspection import permutation_importance

imps = permutation_importance(gb_model, X_test, y_test)
importances = imps.importances_mean
std = imps.importances_std
indices = np.argsort(importances)[::-1]

features = X.columns

# Print the feature ranking
print("Feature ranking:")
for f in range(X_test.shape[1]):
    print("%d. %s (%f)" % (f + 1, features[indices[f]], importances[indices[f]]))

Feature ranking:
1. title_count (0.054309)
2. US News (0.028761)
3. World News (0.028761)
4. title_tokenized_count (0.022095)
5. PRP (0.017474)
6. RB (0.015297)
7. WRB (0.011048)
8. VBZ (0.008843)
9. VBP (0.007117)
10. NNS (0.006745)
11. RP (0.004727)
12. NNP (0.004488)
13. WP (0.004249)
14. MD (0.003081)
15. RBS (0.002523)
16. JJ (0.002443)
17. VBD (0.002284)
18. PRP$ (0.001939)
19. UH (0.001832)
20. TO (0.001381)
21. JJS (0.000664)
22. NN (0.000664)
23. RBR (0.000611)
24. FW (0.000372)
25. NNPS (0.000345)
26. PDT (0.000159)
27. DT (0.000000)
28. WDT (0.000000)
29. VBG (-0.000133)
30. VB (-0.000186)
31. POS (-0.000319)
32. CD (-0.000372)
33. JJR (-0.000372)
34. CC (-0.000478)
35. WP$ (-0.000744)
36. EX (-0.000797)
37. IN (-0.000903)
38. VBN (-0.001647)
39. text_tokenized_count (-0.002178)
40. text_count (-0.002310)

In [17]:
# MODEL 2: SVM

#Import library 
from sklearn.svm import SVC

# Initiate model
svm_model = SVC(kernel='linear')

# Train model
svm_model.fit(X_train, y_train)

# Create model predictions
svm_y_pred = svm_model.predict(X_test)

In [18]:
# Validate Model(1): Accuracy Score 
svm_accuracy = accuracy_score(y_test, svm_y_pred)*100

In [19]:
# Validate Model(2): Confusion Matrix
svm_cm = confusion_matrix(y_test, svm_y_pred)
svm_cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

In [20]:
# Validate Model(3): Classification Report
svm_classification = classification_report(y_test, svm_y_pred)

In [21]:
# Displaying validation results
print("Confusion Matrix")
display(svm_cm_df)

print(f"Accuracy Score : {svm_accuracy}")

print("Classification Report")
print(svm_classification)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3837          431
Actual 1          410         2853

Accuracy Score : 92.4976762714115
Classification Report
              precision    recall  f1-score   support

           0       0.92      0.95      0.94      4268
           1       0.94      0.89      0.91      3263

    accuracy                           0.92      7531
   macro avg       0.93      0.92      0.92      7531
weighted avg       0.93      0.92      0.92      7531

In [22]:
# Import permutation_importance library
from sklearn.inspection import permutation_importance

# Calculate feature importance SVM model.
svm_imps = permutation_importance(svm_model, X_test, y_test)
svm_importances = svm_imps.importances_mean
std = svm_imps.importances_std
indices = np.argsort(svm_importances)[::-1]

svm_features = X.columns

# Print the feature ranking
print("Feature ranking:")
for f in range(X_test.shape[1]):
    print("%d. %s (%f)" % (f + 1, svm_features[indices[f]], svm_importances[indices[f]]))

Feature ranking:
1. text_tokenized_count (0.155889)
2. title_count (0.147338)
3. text_count (0.127447)
4. VBD (0.056487)
5. NNS (0.020980)
6. MD (0.018085)
7. PRP (0.009401)
8. RB (0.009189)
9. JJ (0.007489)
10. TO (0.007011)
11. IN (0.005710)
12. World News (0.003479)
13. US News (0.003479)
14. RP (0.003320)
15. WRB (0.001593)
16. VBZ (0.000876)
17. NN (0.000823)
18. WP (0.000558)
19. RBR (0.000212)
20. title_tokenized_count (0.000212)
21. VBN (0.000159)
22. UH (0.000106)
23. DT (0.000080)
24. VBP (0.000053)
25. NNPS (0.000053)
26. WP$ (0.000027)
27. NNP (0.000027)
28. VBG (0.000000)
29. POS (0.000000)
30. PDT (0.000000)
31. JJR (0.000000)
32. WDT (-0.000080)
33. FW (-0.000106)
34. PRP$ (-0.000106)
35. CD (-0.000106)
36. CC (-0.000133)
37. EX (-0.000159)
38. RBS (-0.000186)
39. VB (-0.000186)
40. JJS (-0.000611)

In [23]:
# # Save model to disk
# import pickle
# filename = 'gb_model.sav'
# pickle.dump(gb_model, open(filename, 'wb'))