In [13]:
# Import libraries
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [14]:
# Read CSV file
df = pd.read_csv('NLP_df_finalnum(J22).csv')

# Check df
print(df.shape)
df.head()

(38645, 48)

,Unnamed: 0,articlesid,fakeid,trueid,subject,label,title_count,text_count,article_count,title_tokenized_count,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,0,1,1.0,NaN,US News,1,78,2700,2778,9,...,0.419287,0.628931,0.209644,0.209644,0.000000,0.0,0.0,0.0,0.0,0.0
1,1,2,2.0,NaN,US News,1,69,1891,1960,8,...,0.311526,0.934579,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2,3,3.0,NaN,US News,1,89,3381,3470,10,...,0.341297,0.511945,0.511945,0.000000,0.170648,0.0,0.0,0.0,0.0,0.0
3,3,4,4.0,NaN,US News,1,77,2599,2676,8,...,0.439560,0.439560,0.879121,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,4,5,5.0,NaN,US News,1,70,2346,2416,7,...,0.000000,0.230947,0.461894,0.230947,0.461894,0.0,0.0,0.0,0.0,0.0

In [15]:
# Show df columns and data types 
df.dtypes

Unnamed: 0                   int64
articlesid                   int64
fakeid                     float64
trueid                     float64
subject                     object
label                        int64
title_count                  int64
text_count                   int64
article_count                int64
title_tokenized_count        int64
text_tokenized_count         int64
article_tokenized_count      int64
US News                      int64
World News                   int64
JJ                         float64
NN                         float64
VBZ                        float64
RP                         float64
VBG                        float64
VBP                        float64
DT                         float64
RB                         float64
VB                         float64
CC                         float64
PRP                        float64
IN                         float64
VBD                        float64
TO                         float64
PRP$                       float64
NNS                        float64
JJS                        float64
CD                         float64
JJR                        float64
RBR                        float64
VBN                        float64
MD                         float64
WP                         float64
FW                         float64
NNP                        float64
WRB                        float64
WDT                        float64
PDT                        float64
EX                         float64
RBS                        float64
NNPS                       float64
UH                         float64
WP$                        float64
POS                        float64
dtype: object

In [20]:
df1 = df.drop(columns=['Unnamed: 0','articlesid','fakeid','trueid','subject','label'])
df1

,title_count,text_count,article_count,title_tokenized_count,text_tokenized_count,article_tokenized_count,US News,World News,JJ,NN,...,NNP,WRB,WDT,PDT,EX,RBS,NNPS,UH,WP$,POS
0,78,2700,2778,9,258,267,1,0,12.159329,21.174004,...,0.419287,0.628931,0.209644,0.209644,0.000000,0.000000,0.0,0.0,0.0,0.0
1,69,1891,1960,8,183,191,1,0,10.903427,30.529595,...,0.311526,0.934579,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,89,3381,3470,10,325,335,1,0,9.897611,26.791809,...,0.341297,0.511945,0.511945,0.000000,0.170648,0.000000,0.0,0.0,0.0,0.0
3,77,2599,2676,8,261,269,1,0,6.373626,32.307692,...,0.439560,0.439560,0.879121,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,70,2346,2416,7,212,219,1,0,6.697460,18.475751,...,0.000000,0.230947,0.461894,0.230947,0.461894,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38640,60,2789,2849,8,262,270,0,1,9.913793,21.120690,...,0.000000,0.000000,0.862069,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
38641,52,796,848,6,75,81,0,1,10.769231,29.230769,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
38642,49,1936,1985,5,174,179,0,1,9.756098,23.780488,...,0.304878,0.304878,0.000000,0.000000,0.304878,0.304878,0.0,0.0,0.0,0.0
38643,61,1193,1254,7,117,124,0,1,12.796209,25.118483,...,0.000000,0.473934,0.000000,0.473934,0.947867,0.000000,0.0,0.0,0.0,0.0
38644,49,1320,1369,6,136,142,0,1,8.962264,28.773585,...,0.000000,0.000000,0.943396,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [21]:
# SCALE DATA

# Creating the scaler instance
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

# Fitting the scaler
df_scaled = data_scaler.fit_transform(df1)
df_scaled

array([[ 0.13025201,  0.14224357,  0.14361143, ..., -0.05635239,
        -0.20911576, -0.03632291],
       [-0.29726934, -0.28037741, -0.28346121, ..., -0.05635239,
        -0.20911576, -0.03632291],
       [ 0.65277809,  0.49799745,  0.50490027, ..., -0.05635239,
        -0.20911576, -0.03632291],
       ...,
       [-1.24731676, -0.25686944, -0.27040887, ..., -0.05635239,
        -0.20911576, -0.03632291],
       [-0.67728831, -0.64501208, -0.65205936, ..., -0.05635239,
        -0.20911576, -0.03632291],
       [-1.24731676, -0.57866737, -0.59201858, ..., -0.05635239,
        -0.20911576, -0.03632291]])

In [22]:
# Assign variables (features and target y and X)
y = df.label
X = df_scaled

In [23]:
# Import train_test_split module
from sklearn.model_selection import train_test_split

# Split data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, test_size=0.20)

In [24]:
# MODEL 1: Naive Bayes/GaussianNB()

#Import GaussianNB library
from sklearn.naive_bayes import GaussianNB

# Initiate model
model = GaussianNB()

# Train model
model.fit(X_train, y_train)

# Create model predictions
y_pred = model.predict(X_test)

# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, y_pred)*100
print(accuracy)

# Validate Model(2): Confusion Matrix
print(confusion_matrix(y_test, y_pred))

# Validate Model(3): Classification Report
print(classification_report(y_test, y_pred))

88.34260577047483
[[3797  470]
 [ 431 3031]]
              precision    recall  f1-score   support

           0       0.90      0.89      0.89      4267
           1       0.87      0.88      0.87      3462

    accuracy                           0.88      7729
   macro avg       0.88      0.88      0.88      7729
weighted avg       0.88      0.88      0.88      7729

In [26]:
# MODEL 2: SVM

#Import library 
from sklearn.svm import SVC

# Initiate model
svm_model = SVC(kernel='linear')

# Train model
svm_model.fit(X_train, y_train)

# Create model predictions
y_pred = svm_model.predict(X_test)

# Validate Model(1): Accuracy Score 
accuracy = accuracy_score(y_test, y_pred)*100
print(accuracy)

# Validate Model(2): Confusion Matrix
print(confusion_matrix(y_test, y_pred))

# Validate Model(3): Classification Report
print(classification_report(y_test, y_pred))

92.53460991072583
[[4064  203]
 [ 374 3088]]
              precision    recall  f1-score   support

           0       0.92      0.95      0.93      4267
           1       0.94      0.89      0.91      3462

    accuracy                           0.93      7729
   macro avg       0.93      0.92      0.92      7729
weighted avg       0.93      0.93      0.93      7729